/* ==========================================================================
   base styles
   ========================================================================== */

* {
    line-height: 1.2;
    margin: 0;
    box-sizing: border-box;
}

html {
    color: #888;
    display: table;
    font-family: sans-serif;
    height: 100%;
    text-align: center;
    width: 100%;
}

body {
    font-family: 'Arial', 'Helvetica', sans-serif;
}

h1 {
    color: #FFF;
    font-size: 2em;
    font-family: 'Source Code Pro', monospace;
}

h2 {
    font-size: 1.25em;
    font-family: 'Source Code Pro', monospace;
}

h3 {
    font-size: 1.5em;
    font-weight: 400;
    font-family: 'Source Code Pro', monospace;
    margin-bottom: 0.7em;
    color: #01426a;
}

nav {
    flex-direction: column;
    justify-content: center;
    display: inline-flex;
}

nav a {
    color: #ffffff;
    text-decoration: none;
}

nav a:hover {
    color: #f4364c;   
}

.gwc-red {
    color: #f4364c;
}


/* ==========================================================================
   grid styles
   ========================================================================== */

.flex-container {
    display: flex;
    flex-flow: row wrap;
    max-width: 1024px;
    margin: 0 auto;
}

.flex-container > div {
    flex: 1 100%;
    padding: 1em 2em;
}

.main-container {
    max-width: 1024px;
    margin: 0 auto;
}

.row {
    padding: 0.5em;
}

/* ==========================================================================
   homepage styles
   ========================================================================== */

header {
    background-color: #01426a;
    margin-bottom: 2em;
}

.header-right,
.header-left {
    justify-content: center;
}

.gwc-logo {
    width: 200px;
}

.keyboard-cat {
    width: 300px;
    margin: 1em auto;
}

.full-width {
    width: 100%;
}

.vertical-align-flex {
    display: flex;
    align-items: center;
}

/* Post */
.post {
    display: flex;
    flex-flow: row wrap;
    border-bottom: 2px dotted #2fdec9;
    margin-bottom: 1em;
    padding-bottom: 1em;
}

.post-image {
    flex: 1 100%;
}

.post-image img {
    width: 100%;
    margin-bottom: 1em;
}

.post-text {
    flex: 1 100%;
    text-align: left;
    padding: 0 1em;
}


/* Medium screens */
@media all and (min-width: 600px) {

    .flex-container > div {
        flex: 1 auto;
    }

    .header-right {
        justify-content: flex-end;
    }

    .header-left {
        justify-content: flex-start;
    }

    .post-image {
        flex: 1 30%;
    }

    .post-text {
        flex: 1 65%;
    }

    .post-image {
        margin: 0;
    }

}

